/* .home-page .reseed-btn {
  width: auto;
} */
/* .home-content {
  position: relative;
  left: 10%;
} */
/* .home-page .name {
  font-size: 20px;
  font-weight: bold;
} */
.add-expense-btn {
  width: auto;
}

.add-expense-div {
  width: auto;
}


.my-modal {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.dropdown {
  z-index: 10;
  height: auto;
}